# Python Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Large Data Files (keep structure, ignore data)
data/raw/*.csv
data/processed/*.csv

# Working Database (keep dump, ignore working DB)
backend/database/*.db

# Log Files
backend/logs/*.txt
backend/logs/*.log

# IDE Files
.idea/
.vscode/

# OS Files
.DS_Store

# Temporary Files
*.tmp
misc/