# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Data Files (keep structure, ignore data)
data/raw/*.csv
data/processed/*.csv

# Database (keep dump, ignore working DB)
backend/database/*.db

# Logs
backend/logs/*.txt
backend/logs/*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp
misc/

# Docker (no need in git repo)
.dockerignore